# ignore all files in vhdlsim and syn
**/vhdlsim/*
**/syn/*

# except for the following files
!**/Makefile
!**/.gitkeep

# dvt
dvt_build.log
build.config.xml
default.build
default.build.auto.1
default.ls
